body{
  background-color: WhiteSmoke;
}

#java-header{
  color: rgb(200,8,21);
}

#Welcome-header{
  color: rgb(200,8,21);
}

#AboutMe-header{
  color: rgb(200,8,21);
}

#Apps-header{
  color: rgb(200,8,21);
}

#welcome-para{
  width:800px
}

#AboutMe-para{
  width:800px
}

#CC{
  float: right;
  padding-right:250px
}

#banner{
  padding-left:400px
}




